/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf") format("truetype");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Bold.tff") format("truetype");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

/* Red Rose */
@font-face {
  font-family: "Red Rose";
  src: url("./Red_Rose/RedRose-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}
