@import "tailwindcss";
@import './../fonts/fonts.css';

:root {
  font-family: "Red Rose", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #8a030367 #8a030334;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

#topnav {
  letter-spacing: 3px;
}

/* src/topnav.css */
.nav-link {
  position: relative;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #171E25;
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link.active::after {
  width: 100%;
}
.nav-link.active {
  font-weight: 700;
}

#main {
  overflow: hidden;
}

#info {
 letter-spacing: 3px;
}

.nav-link.active {
  color: #2F465B;
  font-weight: bold;
}

.glitch-layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0.9;
  mix-blend-mode: lighten;
  pointer-events: none;
  z-index: 1;
}

.glitch1 {
  animation: glitch1 1s infinite;
}

.glitch2 {
  animation: glitch2 1.3s infinite;
}

.glitch3 {
  animation: glitch3 1.5s infinite;
}

@keyframes glitch1 {
  0%, 100% { transform: translate(0, 0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-1px, 1px); }
  80% { transform: translate(1px, -1px); }
}

@keyframes glitch2 {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 1px); }
  75% { transform: translate(2px, 2px); }
}

@keyframes glitch3 {
  0%, 100% { transform: translate(0, 0); }
  30% { transform: translate(2px, -2px); }
  60% { transform: translate(-2px, 2px); }
}
